<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content transparent">
  <li><a href="#">logout</a></li>
</ul>

<nav class='transparent'>
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input id="search" placeholder='Enter the city' name='citySearch' type='text' autocomplete='off' required>
        {{!-- <input id='city-input' name="city" type="hidden" value=''> --}}
        {{!-- <input name="location_state" type="hidden">
        <input name="location_country" type="hidden">
        <input name="location_lat" type="hidden">
        <input name="location_lng" type="hidden">
        <input name="location_id" type="hidden"> --}}
        <label for="search"><i class="material-icons">search</i></label>
      </div>

<!-- Dropdown Trigger -->
      <a class="dropdown-button" href="#" data-activates="dropdown1"  data-beloworigin="true"><i class="material-icons ">reorder</i></a>
    </form>
  </div>
</nav>

{{!-- Main content --}}
<div class = 'row'>

	{{!-- Left side title --}}
	<div class='col s1'>
	   <div>
            <img src="./assets/logo/relocate_logo_vertical_white.png" alt="relocateLogo">  
       </div>
	</div>
	<div class='col s11'>
        <div class = 'row'>
            <div class = 'col s4'>
                <div class = 'row'>
                    <div class = 'card-panel white'>
                        <span class="card-title black-text">Card Title</span>
                        <p class="black-text">I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                        </p>
                    </div>
                </div>
                <div class = 'row'>
                    <div class = 'card-panel white'>
                    <span class="card-title black-text">Card Title</span>
                        <p class="black-text">I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                        </p>
                    </div>
                </div>
            </div>
            <div class = 'col s4'>
                <div class = 'row'>
                    <div class = 'card-panel white'>
                    <span class="card-title black-text">Card Title</span>
                        <p class="black-text">I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                        </p>
                    </div>
                </div>
                <div class = 'row'>
                    <div class = 'card-panel white'>
                    <span class="card-title black-text">Card Title</span>
                        <p class="black-text">I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                        </p>
                    </div>
                </div>
                <div class = 'row'>
                    <div class = 'card-panel white'>
                    <span class="card-title black-text">Card Title</span>
                        <p class="black-text">I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                        </p>
                    </div>
                </div>
            </div>
            <div class = 'col s4'>
                <div class = 'row'>
                    <div class = 'card-panel white'>
                    <span class="card-title black-text">Card Title</span>
                        <p class="black-text">I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                        </p>
                    </div>
                </div>
                <div class = 'row'>
                    <div class = 'card-panel white'>
                    <span class="card-title black-text">Card Title</span>
                        <p class="black-text">I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                        </p>
                    </div>
                </div>
                <div class = 'row'>
                    <div class = 'card-panel white'>
                    <span class="card-title black-text">Card Title</span>
                        <p class="black-text">I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                        </p>
                    </div>
                </div>
            </div>
        <div>
	</div>
</div>


<script src="https://cdn.rawgit.com/devbridge/jQuery-Autocomplete/master/dist/jquery.autocomplete.min.js" type="text/javascript" charset="utf-8"></script>

 <script type="text/javascript" src='/assets/js/autocomplete.js'></script>
 




