<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content transparent">
  <li><a href="#">logout</a></li>
</ul>

<nav class='transparent'>
  <div class="nav-wrapper">
    <form id='search-form'>
      <div class="input-field">
        <input id="search" placeholder='Enter the city' name='citySearch' type='search' autocomplete='off' required>
        {{!-- <input id='city-input' name="city" type="hidden" value=''> --}}
        {{!-- <input name="location_state" type="hidden">
        <input name="location_country" type="hidden">
        <input name="location_lat" type="hidden">
        <input name="location_lng" type="hidden">
        <input name="location_id" type="hidden"> --}}
        <label for="search"><i class="material-icons">search</i></label>
      </div>

<!-- Dropdown Trigger -->
      <a class="dropdown-button" href="#" data-activates="dropdown1"  data-beloworigin="true"><i class="material-icons ">reorder</i></a>
    </form>
  </div>
</nav>

{{!-- Main content --}}
<div class = 'row'>

	{{!-- Left side title --}}
	<div class='col s1'>
	   <div class='valign-wrapper' id='logoImg'>
            <img src="./assets/logo/relocate_logo_vertical_white.png" alt="relocateLogo">  
       </div>
	</div>

    {{!-- Main Info --}}
	<div class='col s11' id = 'mainContent'>
        
        {{!-- Current city --}}
        <div class = 'row center-align'>
            <h1>Current city: <span id = 'currentCity'></span></h1>
        </div>

        <div class = 'row'>
            <div class = 'col s4 whiteBorder center-align'>
                {{!-- Jobs Cards --}}
                <div class = 'row infoTitle'
                    <span class="card-title black-text">Summary</span>
                </div>
                <div class = 'row center-align'>
                    <div class = 'card-panel white center-align'>
                        <div class = 'row'>
                            <p class="black-text cardText" id = 'citySummary'>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                            </p>
                        </div>
                    </div>
                </div>
                <div class = 'row'>
                    <div class = 'card-panel white center-align'>
                    <span class="card-title black-text">Local Jobs</span>
                        <p class="black-text cardText" id = 'localJobsInfo'>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                        </p>
                    </div>
                </div>
            </div>
        

            {{!-- Cost of Living Card --}}
            <div class = 'col s4 whiteBorder center-align'>
                <div class = 'row infoTitle'
                    <span class="card-title black-text">Cost of Living</span>
                </div>
                <div class = 'row'>
                    <div class = 'card-panel white center-align'>
                    <span class="card-title black-text">Cost of Living</span>
                        <p class="black-text cardText" id = 'costOfLivingInfo'>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                        </p>
                        <div class = 'row'>
                            <div class = 'col s5 colTitles'>
                                <p>Cost of Living: </p>
                            </div>
                            <div class = 'col s7'>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s5 colTitles'>
                                <p>Cost of Living: </p>
                            </div>
                            <div class = 'col s7'>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s5 colTitles'>
                                <p>Cost of Living: </p>
                            </div>
                            <div class = 'col s7'>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s5 colTitles'>
                                <p>Cost of Living: </p>
                            </div>
                            <div class = 'col s7'>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s5 colTitles'>
                                <p>Cost of Living: </p>
                            </div>
                            <div class = 'col s7'>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s5 colTitles'>
                                <p>Cost of Living: </p>
                            </div>
                            <div class = 'col s7'>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- Neighborhoods Card --}}
                <div class = 'row'>
                    <div class = 'row infoTitle'
                        <span class="card-title black-text">Neighborhoods</span>
                    </div>
                    <div class = 'card-panel white center-align'>
                        <p class="black-text cardText" id = 'neighborhoodsInfo'>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                        </p>
                    </div>
                </div>
                
                {{!-- Top Attractions Card --}}
                <div class = 'row'>
                    <div class = 'row infoTitle'
                        <span class="card-title black-text">Top Attractions</span>
                    </div>
                    <div class = 'card-panel white center-align'>
                        <p class="black-text cardText" id = 'topAttractionsInfo'>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                        </p>
                    </div>
                </div>
            </div>

            {{!-- Weather Cards --}}
            <div class = 'col s4 center-align'>
                <div class = 'row infoTitle'
                        <span class="card-title black-text">Weather</span>
                    </div>
                <div class = 'row'>
                    <div class = 'card-panel white center-align'>
                    <span class="card-title black-text">Annual Weather</span>
                        <p class="black-text cardText" id='annualWeatherInfo'>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                        </p>
                    </div>
                </div>
                <div class = 'row'>
                    <div class = 'card-panel white center-align'>
                    <span class="card-title black-text">Current Weather</span>
                        <p class="black-text cardText" id = 'currentWeatherInfo'>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                        </p>
                    </div>
                </div>

                {{!-- Photos Card --}}
                <div class = 'row'>
                    <div class = 'row infoTitle'
                        <span class="card-title black-text">Photos</span>
                    </div>
                    <div class = 'card-panel white center-align'>
                        <p class="black-text cardText" id = 'photosInfo'>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                        </p>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>


<script src="https://cdn.rawgit.com/devbridge/jQuery-Autocomplete/master/dist/jquery.autocomplete.min.js" type="text/javascript" charset="utf-8"></script>

 <script type="text/javascript" src='/assets/js/autocomplete.js'></script>
 




