<body>
	<div class = 'container'>
		<div class='row' style='text-align:center'>
			<h1 id = 'friendTitle'>make a friend.</h1>
		</div>
		<div class = 'row'>
			<div class = 'card-panel'>
				<p class="friendsText"><b>Name:</b> James Hornung</p>
				<p class="friendsText"><b>Email:</b> hornung.james@gmail.com</p>
			</div>
		</div>
		<div class = 'row'>
			<div class = 'card-panel'>
				<p class="friendsText"><b>Name:</b> Jim McCoy</p>
				<p class="friendsText"><b>Email:</b> jim.mccoy@example.com</p>
			</div>
		</div>
		<div class = 'row'>
			<div class = 'card-panel'>
				<p class="friendsText"><b>Name:</b> Rob Daly</p>
				<p class="friendsText"><b>Email:</b> rob.daly@gmail.com</p>
			</div>
		</div>
	</div>
</body>