$wrapper-padding: 16px;
.wrapper {
    max-width: calc($max-width + $wrapper-padding * 2);
    margin: 0 auto;
    display: flex;
    height: 100%;
    padding: 0 $wrapper-padding;
    text-align: center;
}

#app {
    height: 100%;
}

.text-section {
    margin: 3em auto;
}

#app {
    background-image: url('http://photos3.meetupstatic.com/photos/event/a/3/f/4/600_342581972.jpeg');
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
	color: white;
}

section p {
	color: white;
}

.text-section {
    text-align: center;
}