/* ///////// */
/* HOME PAGE */
/* ///////// */

body {
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#homePageTitle {
    font-size: 15em;
    text-align: center;
    margin-top: 15%;
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 6px;
    z-index: 9990;
}

#homePageText {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    margin-top: -2%;
    z-index: 9990;
}

.logInBtn {
    margin: 0 auto;
    display: inline-block;
    background-color: #F5A24E;
    top: 50%;
}

.btn:hover,
.btn-large:hover {
    background-color: #F2871B;
}

#landingPage {
    text-align: center;
}

#modal1 h4, p {
    color: #676767;
}

#modal1 h4 {
    font-family: 'Anton', sans-serif;
}

.input-field.col label {
    left: 0;
}


/* ///////// */
/* CITY PAGE */
/* ///////// */

#cityTitle {
    font-size: 6em;
    color: white;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

#cityBG {
    background: url("../images/other/norwaybw.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.city-description {
    color: gray;
}

.brand-logo {
    padding-left:15px;
}


/* ///////// */
/* FORM PAGE */
/* ///////// */


h5 {
    color: #676767;
}

input, label {
    color:black;
}

#formTitle {
    font-family: 'Anton', sans-serif;
    font-size:5em;
}

.icon-grey {
    color:#676767;
}


/* //////////// */
/* RESULTS PAGE */
/* //////////// */

#bigApple{
    margin: 0px;
    background-image: url("../images/bg/newYorkCity.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#eiffel{
    margin: 0px;
    background-image: url("../images/bg/paris.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#bigBen{
    margin: 0px;
    background-image: url("../images/bg/1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.result-btn{
    margin-top: 65px;
    margin-bottom: 65px;
    width: 175px;
    height: 40px;
    background-color: #26a69a;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 2px;
    outline: 0;
    line-height: 35px;
    font-size: 15px;
    border: none;
    margin-right: 15px;
    margin-left: 15px;
}

.result-btn:hover{
    transition: background-color 0.2s ease-out;
    background-color: #F2871B;
}

.result-display {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid black;*/
    text-align: center;
    margin-bottom: 50px;
    background-color: aliceblue;
    color: rgba(0,0,0,0.87);
    padding-bottom: 10px;
}

.headline {
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-top:3px;
    padding-top:15px;
}

.home-photo {
    border: 1px solid gray;
    width: 60%;
}

.result-description {
    padding: 10px;
    color: gray;
    text-align: left;
}

.result-link {
    text-align: center;
    text-decoration: none;
    color: #26a69a;
}

.result-link:hover{
    transition: color 0.2s ease-out;
    color: #F2871B;
}

#no-result{
    padding: 12px;
}

#no-results-text{
    margin-top: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}

#startOver{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 175px;
    height: 40px;
    background-color: #26a69a;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 2px;
    outline: 0;
    line-height: 35px;
    font-size: 15px;
    border: none;
    margin-right: 15px;
    margin-left: 15px;
}

#startOver:hover{
    transition: background-color 0.2s ease-out;
    background-color: #F2871B;
}


/* //////////// */
/* FRIENDS PAGE */
/* //////////// */

.friendsText {
    color: #676767;
}

#friendTitle {
    font-size:5em;
    font-family: 'Anton', sans-serif;
}